$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding: 0;
  margin: 0;
}



/* MY STYLE */

#home {
  width: 100%;
  min-height: 665px;
  background-image: url('../images/bg-cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

.color-overlay {
   position: relative;
   top: 0;
   left: 0;
   width: 100%;
   min-height: 665px;
   background-color: black;
   opacity: 0.6;
   z-index: 0;
}

#home h1, p {
  color: #fff;
  z-index: 1;
}

.img-home {
    width: 230px;
    z-index: 1;
}

#custom-search-input {
   z-index: 1;
}

.search-query {
  background: none;
  color: #fff;
  border: 2px solid #fff;
}


#adventure {
  margin-left: 20%;
  margin-top: -10%;
}

#adventure  .panel .panel-default {
    background: none;
    border: none;
    float: left;

}


#adventure  .panel-footer {
  text-align: center;
  color: #fff;
  background-color: #07222f;
  border-top: 3px solid #07222f;
  border-bottom: 4px solid #b41f3e;
}

#who {
  width: 100%;
  max-height: 600px;
  background-image: url('../images/who-cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

#who h2.text-center  {
  color: #b41f3e;
  font-weight: bold;
}

#who p.text-center  {
  color: #fff;
  font-size: 16px;

}

.line {
  width: 110px;
  height: 20px;
  background: url('../images/line.png');
  background-repeat: repeat-x;
  margin: 5% 40% 0;
  padding-bottom: 10%;
}

#who .text-center .glyphicon {
  background-color: #b41f3e;
  font-size: 22px;
  padding: 2%;
  margin: 5% 0 5%;
}


#gallery h2 {
  color: #b41f3e;
  font-weight: bold;
}



ul li {
  display: inline-block;

}

.btn-group button {
  text-align: center;
  background-color: #f3f3f3;
  margin-top: 3%;
  padding: 5px 5px 5px;
  color: #b41f3e;
  font-weight: bold;
  border: none;

}

.btn-group button:hover {
    background-color: #b41f3e;
    color: #fff;
}


.img-responsive{
  margin-top: 2%;
  border-bottom: 4px solid #b41f3e;

}


#slider {
  width: 100%;
  height: 700px;
}

#featured h3 {
  color: #b41f3e;
  margin-left: 5%;  
}

#featured .panel-primary {
  width: 250px;
  box-shadow: 5px 5px 3px #888888;
}


#featured .panel-footer p{
   color: #323232;
   font-weight: bold;
   background-color: #fff;

}
#featured .img-responsive {
  border: none;
}